<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h1>Create User</h1>

<form th:action="@{/admin/create}" th:object="${user}" th:method="post">

    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username">

    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" id="email">

    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password">

    <label>Select role:
        <input type="checkbox" name="roles"
               th:each="roles : ${role}"
               th:value="${roles.getId()}"
               th:text="${roles.getName().replace('ROLE_', '') + ' '}"
               th:field="*{roles}"
        />
    </label>

    <button type="submit">Create</button>
</form>
<a href="/admin"><button type="submit">Отмена</button></a>
</body>
</html>